/*new.css*/

/*start in index.html 456 line*/
.filter-floor--room {
	margin-right: 30px;
}

.f-f-checkbox--room {
	display: none;
}

.f-f-label--room {
	display: inline-block;
	width: 50px;
	height: 35px;
	font-size: 16px;
	text-align: center;
	line-height: 35px;
	background-color: #1e5688;
	color: #fff;
	cursor: pointer;
	font-family: 'DINPro', sans-serif;
	font-weight: 700;
}

.f-f-checkbox--room:checked + .f-f-label--room {
	background-color: #f9af3e;
	color: #222;
}

/*f-f-checkbox--skin2*/
.f-f-checkbox--skin2 {
	display: none;
}

.f-f-label--skin2 {
	width: 90px;
	font-size: 13px;
	color:#fff;
	padding-left: 48px;
	padding-top: 4px;
	position: relative;
	display: inline-block;
	margin-top: 15px;
	cursor: pointer;
}

.f-f-label--skin2::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 36px;
	height: 36px;
	background-color: #1e5688;
}

.f-f-checkbox--skin2:checked + .f-f-label--skin2::after {
	content: '';
	position: absolute;
	background: url(../images/icons.png) no-repeat 0 -648px;
    width: 23px;
    height: 13px;
    left: 8px;
    top: 10px;
}


/*new media*/

@media screen and (max-width: 1160px){
	.filter-item_second {
		padding-left: 8px;
	}
}

@media screen and (max-width: 1130px){
	.filter-left {
		padding-top: 23px;
		position: relative;
	}

	.filter-body__title {
		position: absolute;
		left: 0; top: 0;
		padding-left: 3px;
	}
}

@media screen and (max-width: 1130px) and (min-width:846px) {

	.filter-types {
		width: 220px;
		display: block;
		margin-bottom: 12px;
	}
}
@media screen and (max-width: 920px) {
	.f-f-label--room,
	.f-f-label--skin2::before {
		background: #6f53b2;
	}
}

@media screen and (max-width: 846px){
	.filter-left {
		border-right-color: transparent !important;
		margin-bottom: 20px;
	}

	.filter-right {
		padding: 0;
	}
}

@media screen and (max-width: 1130px) and (min-width: 650px){
	.filter-body {
		margin-top: 20px;
	}
}

@media screen and (max-width: 650px){
	.filter-item_second {
		padding-left: 8px;
	}

}
@media screen and (max-width: 480px){
	.filter-body {
		margin-top: 10px;
	}
}

.filter-item--disabled {
	position: relative;
}

.filter-item--disabled::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .5;
	z-index: 99999;
}


/*new fotogallery*/
.gallery-slider {
	width: 100%;
	max-width: 100%;
}

.lg-toolbar .lg-close::after {
	content: "\e070";
	padding: 5px;
	border-radius: 50px;
	background-color: #f9af3e;
}

.lg-actions .lg-next:before,
.lg-actions .lg-prev:after {
	content: '';
}

.lg-actions .lg-prev,
.lg-actions .lg-next {
	opacity: .5;
	width: 13px;
	height: 24px;
}

.lg-actions .lg-next {
	background: url(../images/icons.png) no-repeat 0 -98px;
}
.lg-actions .lg-prev {
	background: url(../images/icons.png) no-repeat 0 -72px;
}

.lg-actions .lg-prev:hover,
.lg-actions .lg-next:hover {
	opacity: 1;
}

.owl-theme .owl-nav [class*=owl-] {
	padding: 0;
	margin: 0;
}
.owl-theme .owl-dots .owl-dot span {
	width: 12px;
	height: 12px;
	background: #2b453a;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #f9af3e;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display: block;
}

@media screen and (min-width: 900px){
	.owl-carousel .owl-dots.disabled {
		display: none;
	}
}